<div class="sidebar-container">
  <mat-toolbar color="primary" class="sidebar-toolbar">
    <h1 class="sidebar-app-name">
      <mat-icon>view_in_ar</mat-icon>
      HRMS</h1>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
  </mat-toolbar>
  <mat-sidenav-container class="sidebar-sidenav-container">
    <mat-sidenav #snav mode="side" fixedTopGap="56" opened="true">
      <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>