mat-card{
    z-index: 1;
}
mat-form-field{
    width: 100%;
}
.example-card {
    max-width: 400px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-content {
    //   margin-top: 100px;
    padding-top: 50px;
      text-align: -webkit-center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }