
// set AOS ให้อยู่ด้านหลัง
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}
// End AOS

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: 3000;
  }


  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: 0;
    width: 1920px;
  }


  /* Responsive Styles */
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-card{
    z-index: 1;
}
mat-form-field{
    width: 100%;
}

.example-card {
    max-width: 450px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  .center-content {
    //   margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
      text-align: -webkit-center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }

