
.navbar{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    background-color: rgb(51, 102, 255);
    color: rgb(255, 255, 255);
    z-index: 1200;
}

.form-control {
    color: rgb(245, 245, 245);
    background-color: rgb(223 205 205 / 31%);
    border: none;
}
.dropdown-menu.show {
    left: -79px !important;
}