.example-spacer {
    flex: 1 1 auto;
  }
.mat-drawer.mat-drawer-side {
    width: 280px;
    position: fixed;
    
}
.container-content {
    margin-top:100px;
}
mat-drawer{
    border: none;
    margin-top:78px;

}

mat-list-item {
    font-size: 0.875rem;
    font-weight: 200;
}

mat-drawer-content{
    // margin-top: 67px;
    // padding-left: 30px;
    // padding-right: 30px;
    padding: 30px;
    margin-top:68px;
    background-color: #f0f2f8;
}
.mat-drawer-container {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
    height: 700px;
}

.mat-toolbar.mat-primary {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    background-color: rgb(51, 102, 255);
    color: rgb(255, 255, 255);
    z-index: 1200;

}


.side-menu > mat-card{
    // padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.mat-mdc-raised{
    width:100%
}
.menu-avatar{
    width: 40px;
}
mat-card > mat-card-content > a{
    text-decoration: none;
}

.side-menu > mat-card{
    margin-top: 10px;
}


.side-menu > mat-card > mat-card-content{
    
     background-color: #f0f2f8;
     padding-top: 10px;
     padding-bottom: 10px;
}


.side-menu > mat-card > mat-card-content:hover{
    background-color: #d0d3dc;
    transition: 0.5s;
}
mat-card {

  border: 1px;
  border-width: 1px;;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(36, 44, 58) !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 5px !important;
box-shadow: none;
    overflow: hidden !important;
}

.icon-shape-custom {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 20% !important;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
}