
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Sarabun:wght@100;200;300;400;500&display=swap');
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  
}

html,
body{
  height: 100%;
  margin: 0px;
    color: rgb(36, 44, 58);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.643em;
    font-family: Prompt, sans-serif !important;
    background: #3f51b5 !important;
    font-weight: 400;
}
mat-form-field{
  width: 100%;
  font-family: Prompt, sans-serif !important;
}

mat-card,mat-card-title,mat-label,mat-card-subtitle,.mat-mdc-tab .mdc-tab__content{
  font-family: Prompt, sans-serif !important; 
}

.card {
  border: none;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(36, 44, 58) !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px 2px 2px -1px !important;
  overflow: hidden !important;
}

.mat-typography h3
 {
    font: 400 16px/28px Roboto, sans-serif;
    letter-spacing: .009375em;
    margin: 0 0 16px;
    font-family: kanit;
}

// mat-card {
//   border: none;
//   background-color: rgb(255, 255, 255) !important;
//   color: rgb(36, 44, 58) !important;
//   transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
//   border-radius: 10px !important;
//   box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px 2px 2px -1px !important;
//   overflow: hidden !important;
// }

// icon
.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

.btn {
  // box-shadow: rgba(76, 78, 100, 0.42) 0px 4px 8px -4px;
}

.btn-primary {
  box-shadow: rgba(76, 78, 100, 0.42) 0px 4px 8px -4px;
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px 2px 2px -1px!important;
}




mat-dialog-container{
  margin-top: 30px;
}


//table


.table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6
}

.table>:not(caption)>*>* {
  padding: .5rem;
  background-color: var(--bs-table-bg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bs-table-accent-bg)), to(var(--bs-table-accent-bg)));
  background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
  border-bottom-width: 1px
}

.table>tbody {
  vertical-align: inherit
}

.table>thead {
  vertical-align: bottom
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: currentColor
}

.caption-top {
  caption-side: top
}

.table-sm>:not(caption)>*>* {
  padding: .25rem
}

.table-bordered>:not(caption)>* {
  border-width: 1px 0
}

.table-bordered>:not(caption)>*>* {
  border-width: 0 1px
}

.table-borderless>:not(caption)>*>* {
  border-bottom-width: 0
}

.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color)
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color)
}

.table-hover>tbody>tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color)
}

.table-primary {
  --bs-table-bg: #ffe2d9;
  --bs-table-striped-bg: #f2d7ce;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6cbc3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ecd1c9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e6cbc3
}

.table-secondary {
  --bs-table-bg: #ebd6fa;
  --bs-table-striped-bg: #dfcbee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #d4c1e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #d9c6e7;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #d4c1e1
}

.table-success {
  --bs-table-bg: #cdefe3;
  --bs-table-striped-bg: #c3e3d8;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #b9d7cc;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #beddd2;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #b9d7cc
}

.table-info {
  --bs-table-bg: #d3f3f9;
  --bs-table-striped-bg: #c8e7ed;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bedbe0;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c3e1e6;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bedbe0
}

.table-warning {
  --bs-table-bg: #feefd9;
  --bs-table-striped-bg: #f1e3ce;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e5d7c3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ebddc9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e5d7c3
}

.table-danger {
  --bs-table-bg: #fbdada;
  --bs-table-striped-bg: #eecfcf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e2c4c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e8caca;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e2c4c4
}

.table-light {
  --bs-table-bg: #ededed;
  --bs-table-striped-bg: #e1e1e1;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #d5d5d5;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #dbdbdb;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #d5d5d5
}

.table-dark {
  --bs-table-bg: #293134;
  --bs-table-striped-bg: #343b3e;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #3e4648;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #394043;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #3e4648
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}

@media (max-width:575.98px) {
  .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch
  }
}

@media (max-width:767.98px) {
  .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch
  }
}

@media (max-width:991.98px) {
  .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch
  }
}

@media (max-width:1199.98px) {
  .table-responsive-xl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch
  }
}

@media (max-width:1399.98px) {
  .table-responsive-xxl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch
  }
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.table {
  min-width: 100%;
  margin-bottom: 0
}

.table thead th {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500
}

.table td {
  vertical-align: middle;
  white-space: nowrap
}


.table.table-lg td {
  padding: 0.5rem .75rem
}

.table.table-borderless td {
  padding-left: 0;
  padding-right: 0
}

.table th {
  vertical-align: middle !important
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .03)
}

.table.table-custom {
  border-spacing: 0 15px;
  border-collapse: separate
}

.table.table-custom thead tr th {
  border: none
}

.table.table-custom tbody tr {
  background: #fff
}


.table.table-custom tbody tr td:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  padding-left: 15px
}

.table.table-custom tbody tr td:last-child {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding-right: 15px
}

.table.table-custom tbody tr:last-child td {
  border-bottom-color: transparent
}

.table.table-custom > tbody > tr:hover{
  background: #b2ccf2;
  transition: 0.5s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}