<div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
  <table class="table table-custom table-lg mb-0" id="orders">
      <thead>
      <tr>
          <th>
              <input class="form-check-input select-all" type="checkbox" data-select-all-target="#orders" id="defaultCheck1">
          </th>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Total</th>
          <th>Status</th>
          <th class="text-end">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>
              <input class="form-check-input" type="checkbox">
          </td>
          <td>
            <img src="https://nsdbytes.com/template/oculux/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 h35 rounded" data-original-title="Avatar Name">
          </td>
          <td>Cortie Gemson</td>
          <td>May 23, 2021</td>
          <td>$239,00</td>
          <td>
              <span class="badge bg-primary">Processing</span>
          </td>
          <td class="text-end">
              <div class="d-flex">
                  <div class="dropdown ms-auto">
                      <a href="#" data-bs-toggle="dropdown" class="btn btn-floating" aria-haspopup="true" aria-expanded="false">
                          <i class="bi bi-three-dots"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                          <a href="#" class="dropdown-item">Show</a>
                          <a href="#" class="dropdown-item">Edit</a>
                          <a href="#" class="dropdown-item">Delete</a>
                      </div>
                  </div>
              </div>
          </td>
      </tr>
      
      </tbody>
  </table>
</div>