
<form [formGroup]="formRegister" (ngSubmit)="register()">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label>ชื่อ</mat-label>
        <input
          type="text"
          matInput
          placeholder="ชื่อ"
          formControlName="fname"
        />
        <i
          class="fa-regular fa-user"
          matSuffix
          style="margin-right: 10px"
        ></i>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label>นามสกุล</mat-label>
        <input
          type="text"
          matInput
          placeholder="นามสกุล"
          formControlName="lname"
        />
        <i
          class="fa-regular fa-user"
          matSuffix
          style="margin-right: 10px"
        ></i>
      </mat-form-field>
    </div>

  </div>
  
  <ng-select [items]="department | async"
  placeholder="แผนก/ฝ่าย"
  bindLabel="name"
  autofocus
  bindValue="id"
  formControlName="department"
  >
</ng-select>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      placeholder="Email"
      formControlName="email"
    />

    <i
      class="fa-solid fa-envelope"
      matSuffix
      style="margin-right: 10px"
    ></i>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Confirm Password"
      formControlName="confirm_password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!formRegister.valid"><i class="fa-regular fa-pen-to-square"></i> ลงทะเบียน</button>
</form>
